<header class="header" id="header">
    <!-- here we are going to include the navigation bar -->
    <div class="main-menu">
            <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner">
                            <div class="container">
                                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                                    <div id="loader" class="loading"></div>
                                    <a class="brand" id="brand" href="#/index"><%=AppName%></a>
                                    <div class="nav-collapse">
                                           <div class="menu" id="menu"></div>
                                    </div>
                            </div>
                    </div>
            </div>
    </div>
</header>
<!-- layer to include sub-menus or other type of information -->
<div class="head container-fluid" id="head">
</div>
<div class="container">
    <div class="main container">
            <section class="page">LOADING....</section>
            <footer class="footer"></footer>
            <div id="logger"></div>
    </div>
</div>