<!doctype html>
<html>
<head>
<title>Views Tests using Jasmine and Require</title>
 
<!-- Include the Jasmine assets for running in an HTML page. -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.min.css">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine-html.min.js"></script>
<script type="text/javascript" src="../../js/libs/jasmine/custom_boot.js"></script>



<script data-main="../../js/main-test.js" type="text/javascript" src="../../js/libs/require/require.js"></script>



<div id="test-region">
</div>

<script type="text/javascript">
var basePath = "../../../app/js/";

require([
    basePath + "libs/domReady/domReady",  
    basePath + "views/index/page.spec"
   ], 
   function(domReady){
     domReady(function(){
        window.executeTests();  // defined in custom_boot.js
     });
   }
);

</script>
</head>
<body>
<!-- Left intentionally blank. -->
</body>
</html>
